@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,900;1,200&display=swap');

/* Null */
[class*="__container"] {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0px 15px;
}

a {
    text-decoration: none;
}
li {
    list-style: none;
}
*, *::before,*::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}


/* -------------------------------------------------------------------- */
html, body {
    height: 100%;
    min-width: 320px;
    background-color:  #27013E;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}
.wrapper {
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}


/* --------------- */
.header__container {
    margin-top: 110px;
    margin-bottom: 110px;
    text-align: center;
}

.header__logo:not(:last-child) {
    margin-bottom: 120px;
}
h1 {
    font-size: 151px;
    font-weight: 900;
}
.portfolio__container {
    margin-top: 195px;
    margin-bottom: 195px;
}
.portfolio__item {
    position: relative;
    height: 420px;
    backdrop-filter: blur(10px);
    background: linear-gradient(98.91deg, rgba(168, 36, 255, 0.1) 2.4%, rgba(255, 200, 136, 0.1) 94.38%), rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.item-portfolio__content {
    position: absolute;
    top: 50%;
    display: flex;
    margin-top: -170px;
    margin-left: 40px;
}
.content__image {
    max-width: 340px;
}
.image__minimized {
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
}

.content__info {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}
h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}
p {
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
}
h4:not(:last-child) {
    margin-bottom: 15px;
}

hr {
    border-top: 1px solid white;
    opacity: 0.1;
    margin-bottom: 15px;
    min-width: 780px;
}
.portfolio__item:not(:last-child) {
    margin-bottom: 15px;
}
.info__type {
    opacity: 0.85;
}
.info__type:not(:last-child) {
    margin-bottom: 5px;
}
.award {
    font-style: italic;
    opacity: 0.5;
}


/* thread stats-------------------------------------------------------------------------- */
.info {
    flex: 1 1 auto;
}
.stats {
    display: flex;
}

.stats-item {
    width: 180px;
    height: 31px;
    font-size: 24px;
    font-weight: 300;
    opacity: 0.5;
    display: flex;
    align-items: center;
    position: relative;
}
.icon {
    height: 31px;
}
.num {
    margin-left: 15px;
}


.info-info {
    display: flex;
}
.info-type {
    flex: 1 1 auto;
}
.username {
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    opacity: 0.5;
}
.icon-follower {
    margin-left: 15px;
    width: 16px;
}
.followers-item {
    text-align: right;

}

.followers-item:not(:last-child) {
    margin-bottom: 5px;
    
}